



<h1 style="text-align: center;padding: 1px;color: #617B5C;margin-top: 50px; font-family: 'Nanum Gothic', sans-serif;">How to choose the best indoor plant for you?</h1>
<br />
<img src="https://images.pexels.com/photos/4054946/pexels-photo-4054946.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="center">
<br />
<br />
<h4>What level of plant care can you commit to?</h4>
    Just like people, plants have different temperaments. Some are easy going, low-maintenance, and adaptable. They won’t mind if you forget to water them once in a while and can thrive in less than ideal light conditions (like an office cubicle with fluorescent lights). Other houseplants need a little more TLC. They like their soil to have just the right amount of moisture. They might need frequent mistings and don’t like to be bumped or chilled. All are beautiful and all have health benefits, but that doesn’t mean they’re all the right indoor plant for you.

    So before choosing a houseplant, think about your level of experience with plants and the amount of time you can actually dedicate to your houseplant. Is your life hectic? Are you running back and forth between play dates, soccer games, and birthday parties? Do you work long hours or travel frequently? A low-maintenance, easy houseplant might be best for you. Or, do you have the time or desire to devote yourself to caring for a plant that requires a little more attention? Or, maybe you’re somewhere in between. The point is, just because your life is busy doesn’t mean you can’t enjoy and benefit from a houseplant.
<br />
<br />
<h4>What light do you have?</h4>
    It doesn’t need to be said, but we’re going to say it—plants need light. But, some plants need more light than others and some plants hardly need any natural light at all. It can be tricky to determine what type of light you have. A good rule of thumb is that most houseplants will do best in spots with eastern or western facing windows (your phone probably has a compass if you need help determining which direction is which). This provides plants with enough indirect sunlight for a good amount of the day and ambient light for the rest of the time. Southern light is strongest and best for light-loving succulents like aloe plants. Most plants will scorch if placed in direct light ie. where the sun falls directly on their leaves.

    There are several plants, however, that will adapt to all different levels of light and even thrive in dark spots where only ambient or fluorescent light is available. So if the beige and gray walls of your cubicle are seriously getting you down, there’s a plant out there that will successfully brighten up your workspace!
<br />
<br />
<h4>What’s most important to you?</h4>
    You’ve given yourself a plant-care reality check. You’ve whipped out your compass and determined what light you have. Now, comes the fun part—why do you want a new indoor plant? Is it purely aesthetics? Do you just love the way they look? Do you like that they purify the air? Will it make you happy? Or do you want your kids to grow up with something green because you live in the city? Whatever your motivation, keep it in mind as you answer the next question.

    What’s most important to you: Does your plant have to be non-toxic to your cat or dog? Does your plant have to be easy to take care of? Does your plant need to be unique? This question will help narrow down your choices and help you choose the best indoor plant for you.
<br />
<br />

<!--<a href="https://quiz.bloomscape.com/" target="_blank">Take The Quiz</a>-->
<button onclick="window.location.href='https://quiz.bloomscape.com/'" targt="_blank">Take The Quiz </button>

  <br />
  <br />

