img{
    display: flex;
    justify-content: center;
    width: 760px;
    height: 500px;
margin: auto;
}

h4 {
  color: #617B5C;
}

a {
  background-color: #617B5C;
  border-style: none;
  margin: auto 0;
  width: 50%;
  color: white;
}
