img{
    display: flex;
    justify-content: center;
    width: 800px;
    height: 530px;
  align-content: center;
}

h4 {
  color: #617B5C;
}

button {
  background-color: #617B5C;
  border-style: none;
  align-content: center;
  width: 10%;
}
